<p>
The purpose of this website is to help language learners harness the power of ChatGPT to aid in their language learning.
It contains three sections: the Guidebook, the Prompt Browser, and the Prompt Generator.
</p><br>
<p>In the <a href="/" class="text-sky-400 underline">guidebook</a>, students can review the various sections of information about how to use ChatGPT for language-learning purposes. 
Some sections include the "Accuracy Disclaimer" section, which goes over some of the issues encountered through experimentation with ChatGPT's 
language capabilities, the "Prompt Types" section, which describes the a few types of prompts that students can use, and 
the "Indicating Level in a Prompt" section, which shows examples of prompts at different language levels.
</p><br>
<p>
In the <a href="{%url 'prompt:browser'%}" class="text-sky-400 underline">prompt browser</a>, 
students can browse various existing prompts and a sample ChatGPT output.
</p><br>
<p>
In the <a href="{%url 'prompt:generator'%}" class="text-sky-400 underline">prompt generator</a>,
students can input their own parameters and generate their own prompts to copy and paste into ChatGPT.
</p><br>
<p>
This project was developed as part of a 2023 Summer internship supported by The Language Flagship Technology Innovation Center at the University of Hawai‘i at Mānoa (UHM) with additional administrative support from the Center for Language & Technology at UHM.
</p><br>
<div class="flex flex-row">Lead Developer: Ashley Nichols; Supervising Faculty: Richard Medina</div>
<div class="flex flex-row justify-center mt-4">
<img class="bg-white" style="width:25%;" src="/static/tech-center_logo_web.png">
</div>
<p class="text-sm mt-4">
This project was fully or partially funded under a grant from the Institute of International Education (IIE), acting as the administrative agent of the Defense Language and National Security Education Office (DLNSEO) for The Language Flagship. One should not assume endorsement by the Federal Government. Project P.I.: Dr. Julio C. Rodriguez (juliocr@hawaii.edu) Project Lead: Dr. Richard Medina.
</p>
