{%extends 'prompt/base.html'%}
{%block about%}
<div class="mt-4 text-5xl" style="margin-left:10px; margin-right:10px">
    {{title}}
    <div class="text-lg">
      {{content|safe}}
    </div>
</div>
{%endblock%}

{%block footer%}
    <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
      <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 The Language Flagship Technology Innovation Center. All Rights Reserved.
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
          <li>
              <a href="{%url 'prompt:about'%}" class="mr-4 hover:underline md:mr-6 ">About</a>
          </li>
      </ul>
      </div>
    </footer>
{%endblock%}


