{%extends 'prompt/base.html'%}
{%block about%}
<div class="mt-4 ml-10 text-5xl">
    {{title}}
    <div class="text-lg">
      {{content|safe}}
    </div>
</div>
{%endblock%}

{%block footer%}
    <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
      <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">This project was fully or partially funded under a grant from the Institute of International Education (IIE), acting as the administrative agent of the Defense Language and National Security Education Office (DLNSEO) for The Language Flagship. One should not assume endorsement by the Federal Government. Project P.I.: Dr. Julio C. Rodriguez (juliocr@hawaii.edu) Project Lead: Dr. Richard Medina.
      </span>
      
      </div>
    </footer>
{%endblock%}


