{% extends 'prompt/base.html' %}

{%block title%} Prompt Browser {%endblock%}
{%block content%} Prompt Browser {%endblock%}

{%block searchcontent %} 
<div class="grid grid-cols-10 grid-rows-2" style="grid-template-rows: auto auto"">
    <div class="col-span-7 place-items-center flex justify-center mt-10" style="max-height:50px">
        <div class="relative">
            <!-- <form method="get" action=""> -->
            <input name="query" value="{{query}}" type="text" placeholder="Search" style="width:700px" class="py-2 pl-10 pr-4 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
            <button href="#" class="absolute inset-y-0 left-0 flex items-center pl-3">
                <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35M15 10a5 5 0 1 0-10 0 5 5 0 0 0 10 0z"></path>
                </svg>
            </button>
            <!-- </form> -->
        </div>
        <div class="mt-2 ml-3">
            
        </div>
    </div>
    <div class="row-start-2 col-span-7 flex justify-center" style="height:1000px">
        <div class="mt-10 w-3/4 grid grid-cols-2 grid-rows-4 gap-y-4 gap-x-10 columns-3">
            {%for prompt in page_prompts %}
            <div class="h-auto grid grid-rows-3 hover:scale-105 col-span-1 row-span-1 rounded-xl shadow-md bg-gray-100">
                <div class="row-span-2">
                    <div class="grid grid-rows-2 grid-cols-2">
                        <div class="text-xl m-3 row-span-1 col-span-1">
                            {{prompt.prompt_language}}
                        </div>
                        <div class="text-xl m-3 text-right row-span-1 col-span-1">
                            {{prompt.prompt_level}}
                        </div>
                        <div class="flex justify-center items-center overflow-hidden col-span-2">
                            {{prompt.category.category_svg | safe}}
                        </div>
                    </div>
                </div>
                <div class="row-span-1 border-t border-gray-300">
                    <div class="text-lg flex justify-center items-center place-items-center">
                        <center>
                            {{prompt.prompt_title}}
                        <br>
                        ({{prompt.category}})
                        </center>
                    </div>
                </div>
            </div>
            {%endfor%}

            <div class="flex gap-3 col-span-2 justify-center items-center pagination place-items-center">
                {% if page_prompts.has_previous %}
                  <a class="mt-2 py-4 px-8 inline-block bg-sky-400 text-lg rounded-xl text-white" href="?page={{ page_prompts.previous_page_number }}">Previous</a>
                {% else %}
                    <a class="mt-2 py-4 px-8 inline-block bg-sky-600 text-lg rounded-xl text-white">Previous</a>
                {% endif %}
              
                <span class="mt-2 py-4 px-8 inline-block bg-sky-400 text-lg rounded-xl text-white current-page">Page {{ page_prompts.number }}</span>
              
                {% if page_prompts.has_next %}
                  <a class="mt-2 py-4 px-8 inline-block bg-sky-400 text-lg rounded-xl text-white" href="?page={{ page_prompts.next_page_number }}">Next</a>
                  {% else %}
                  <a class="mt-2 py-4 px-8 inline-block bg-sky-600 text-lg rounded-xl text-white">Next</a>
                {% endif %}
            </div>

        </div>

    </div>
    
    <div class="grid grid-rows-7 mr-10 col-span-3 row-span-2 flex justify-center" style="height:500px">
        <div class="pt-5 row-span-1">
            <div class="text-4xl relative flex justify-center items-center gap-5 pt-20">
                Filter by...
            </div>
        </div>
        <div class="row-span-1 pt-5">
            <div class="text-4xl relative flex justify-center items-center">
                
            </div>
        </div>
        <div class="row-span-1 pt-5">
            Category:
                <form>
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                    focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
                    dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
                    dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    id="categories" name="categoriesSelect">
                        <option value="AnyCategory">Any</option>
                        {%for category in categories%}
                        <option value="{{category.category_name}}">{{category.category_name}}</option>
                        {%endfor%}
                    </select>
                </form>
            
        </div>
        
        <div class="pt-5 row-span-1">
            Language:
            <form>
                <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
                dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                id="language" name="languageSelect">
                    <option value="AnyLanguage">Any</option>
                    <option value="Arabic">Arabic</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Korean">Korean</option>
                    <option value="Persian">Persian</option>
                    <option value="Portuguese">Portuguese</option>
                    <option value="Russian">Russian</option>
                </select>
            </form>
        </div>
        <div class="pt-5 row-span-1">
            Difficulty:
            <form>
                <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
                dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                id="difficulty" name="difficultySelect">
                    <option value="AnyDifficulty">Any</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Advanced">Advanced</option>
                </select>
            </form>
        </div>
        <div class="justify-center items-center pt-5 row-span-1">

        </div>
        <div class="relative flex justify-center items-center pt-5 row-span-1">
            <ul>
                <li>
                    <a href="#" class="mt-2 py-4 px-8 inline-block bg-teal-500 text-lg rounded-xl text-white">Apply Filters</a>
                </li>
            </ul>
        </div>
        <div class="relative flex justify-center items-center pt-5 row-span-1">
            <ul>
                <li>
                    <a href="#" class="mt-2 py-4 px-8 inline-block bg-red-500 text-lg rounded-xl text-white">Clear Filters</a>
                </li>
            </ul>
        </div>
    </div>
    
        
    
    
</div>
{%endblock%}










