{% extends 'prompt/base.html' %}

{%block title%} Prompt Browser {%endblock%}
{%block content%} Prompt Browser {%endblock%}

{%block searchcontent %} 
    <div class="searchBar" style="color:black;">
        <div class="relative">
            <input id="query" name="query" type="text" placeholder="Search" class="actualBar py-2 pl-10 pr-4 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
            <button href="#" class="absolute inset-y-0 left-0 flex items-center pl-3">
                <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35M15 10a5 5 0 1 0-10 0 5 5 0 0 0 10 0z"></path>
                </svg>
            </button>
        </div>
    </div>

    <!--
    <div class="text-4xl flex justify-center mt-4">Filter by...</div>
    <center class="mt-4">
        <b>Category:</b>
            <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
            focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
            dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
            dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            id="categories" name="categoriesSelect" autocomplete="off" style="width:25%">
                <option value="AnyCategory">Any</option>
                {%for category in categories%}
                    <option value="{{category.category_name}}">{{category.category_name}}</option>
                {%endfor%}
            </select>
    </center>
    <center class="mt-4">
        <b>Language:</b>
            <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
            focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
            dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
            dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            id="languages" name="languageSelect" autocomplete="off" style="width:25%">
                <option value="AnyLanguage">Any</option>
                <option value="Arabic">Arabic</option>
                <option value="Chinese">Chinese</option>
                <option value="Korean">Korean</option>
                <option value="Persian">Persian</option>
                <option value="Portuguese">Portuguese</option>
                <option value="Russian">Russian</option>
                <option value="English">English</option>
            </select>
    </center> 
    <center class="mt-4">
        <b>Difficulty:</b>
            <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
            focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
            dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
            dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            id="difficulties" name="difficultySelect" autocomplete="off" style="width:25%">
                <option value="AnyDifficulty">Any</option>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
            </select>
    </center>
    -->

    <div id="promptsContainer">
        {%include 'prompt/filtered_results.html'%}
    </div>




{%endblock%}


{%block script%}
<script> 
    $(document).ready(function() {
        $('#bigBody').addClass('promptBrowser');
        $('#navLine').removeClass('border-b');
        
        /*
        $('.promptCardLink').on('click', function (e) {
            // Prevent the default link behavior
            e.preventDefault();

            // Get the URL from the href attribute of the clicked promptCardLink
            var url = $(this).attr('href');

            // Navigate to the URL
            window.location.href = url;
        });

         $('#categories, #languages, #difficulties, #query').change(function() {
            console.log("change detected");
            filterPrompts();
        });
        */
        function filterPrompts() {
           // var selectedCategory = $('#categories').val();
            //var selectedLanguage = $('#languages').val();
            //var selectedDifficulty = $('#difficulties').val();
            const searchText = $("#query").val().toLowerCase();

            if (searchText.length === 0) {
                $('.promptCardsDiv').each(function () {
                    const categoryContainer = $(this);
                    categoryContainer.show();
                });
            }

            $('.promptCard').each(function () {
                const promptLanguageElementText = $(this).find(".promptLanguage").text().toLowerCase();
                const promptDifficultyElementText = $(this).find(".promptLevel").text().toLowerCase();
                const promptTitleElementText = $(this).find(".promptTitle").text().toLowerCase();
                if (promptLanguageElementText.includes(searchText) || 
                    promptDifficultyElementText.includes(searchText) ||
                    promptTitleElementText.includes(searchText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });

            $('.promptCardsDiv').each(function () {
                const categoryContainer = $(this);
                if (categoryContainer.find('.promptCard:visible').length === 0) {
                    categoryContainer.hide();
                } else {
                    categoryContainer.show();
                }
            });

            if ($('.promptCard:visible').length === 0) {
                $('.noMatch').removeClass('hidden');
            } else {
                $('.noMatch').addClass('hidden');
            }
           
        }

        $('#query').change(function() {
            filterPrompts();
        });

        

        function updateLevelCardColor() {
            $(".card").each(function() {
                var levelText = $(this).find(".levelSpanInsideCard").text().trim();
                switch (levelText) {
                case "Beginner":
                    $(this).css("background-color", "rgb(59, 130, 246)");
                    $(this).css("color", "rgb(245, 245, 245)");
                    break;
                case "Intermediate":
                    $(this).css("background-color", "rgb(251, 191, 36)");
                    $(this).find('.borderArea').css("border-bottom", "1px solid black");
                    break;
                case "Advanced":
                    $(this).css("background-color", "rgb(220, 38, 38)");
                    $(this).css("color", "rgb(245, 245, 245)");
                    break;
                default:
                    $(this).css("background", "linear-gradient(to bottom right, #db2777, #e11d48, #eab308, #06b6d4, #0284c7)");
                    $(this).css("color", "rgb(245, 245, 245)");
                    $(this).addClass('font-semibold');
                    break;
                }
            });
        }

        updateLevelCardColor();
        
        
    });
    
    
</script>


{%endblock%}










