{%extends 'prompt/base.html'%}

{%block title%} Prompt Browser {%endblock%}
{%block button%} <button class="px-6 py-3 text-lg font-semibold bg-sky-500 text-white rounded-xl hover:bg-sky-600" onclick="history.back()">Back</button>{%endblock%}
{%block contentnolink%} {{prompt.prompt_title}} ({{prompt.prompt_language}}) {%endblock%}


{%block searchcontent%}
<div class="hidden lg:block">
    <div class="flex justify-center">
        <div class="w-3/4 grid grid-cols-2 grid-rows-4 p-4 m-10" style="grid-template-rows: auto auto"">
            <div class="py-6 px-6 col-span-1">
                <div class="flex justify-center items-center mt-2 py-4 px-8 bg-sky-500 text-lg rounded-xl text-white" style="margin: 0 auto; max-width: 25%;"> 
                    Prompt
                </div>
                <div class="mt-6 mb-6 row-span-3"> 
                    {{prompt.prompt_text | safe}}
                </div>
            </div>
    
            <div class="py-6 px-6 col-span-1 row-span-4">
                <div class="flex justify-center items-center mt-2 py-4 px-8 bg-sky-500 text-lg rounded-xl text-white" style="margin: 0 auto; max-width: 40%;"> 
                    ChatGPT Output
                </div>
                <div class="mt-4">
                    {{prompt.prompt_output | safe}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block lg:hidden">
    <center class="text-xl mr-4 ml-4">{{prompt.prompt_title}} ({{prompt.prompt_language}})</center>
    <div class="flex flex-col justify-center">
        <div class="py-6 px-6">
            <div class="flex justify-center items-center mt-2 py-4 px-8 bg-sky-500 text-lg rounded-xl text-white"> 
                Prompt
            </div>
            <div class="mt-6 mb-6"> 
                {{prompt.prompt_text | safe}}
            </div>
        </div>

        <div class="py-6 px-6">
            <div class="flex justify-center items-center mt-2 py-4 px-8 bg-sky-500 text-lg rounded-xl text-white"> 
                ChatGPT Output
            </div>
            <div class="mt-4">
                {{prompt.prompt_output | safe}}
            </div>
        </div>
        
    </div>


</div>

{%endblock%}

{%block footer%}
    <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
      <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 Footer. All Rights Reserved.
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
          <li>
              <a href="{%url 'prompt:about'%}" class="mr-4 hover:underline md:mr-6 ">About</a>
          </li>
      </ul>
      </div>
    </footer>
{%endblock%}

{%block script%}
<script>
    
</script>
{%endblock%}