{% extends 'prompt/base.html' %}

{%block title%} Prompt Generator {%endblock%}
{%block content%} Prompt Generator {%endblock%}
{%block generator%}

    <center>
        <div class="mt-4 text-2xl">Generate a prompt below!</div>
    </center>
    <div class="generator">
        <div class="mt-4 grid-cols-12 grid-rows-3 grid">
            <div class="col-span-2 emptySpace">
                
            </div>
            <div class="col-span-5 bg-sky-100 border-b border-l border-t border-gray-800 promptCopyArea">
                <div class="mt-10 row-span-1 flex justify-center items-center">
                    <textarea id="prompt_textarea" class="px-2 py-2 promptTextArea"> </textarea>
                </div>
                <div class="row-span-1 flex justify-center items-center">
                    <button id="copyButton" class="mt-10 row-span-1 px-6 py-3 
                    text-lg font-semibold bg-sky-500 text-white rounded-xl hover:bg-sky-600 copyButton">Copy Prompt</button>
                </div>
                <div class="mt-2 floating flex justify-center row-span-1 hidden" id="copied">
                    Copied!
                </div>
                
            </div>
            
            <div class="border-b border-r border-t border-gray-800 flex justify-center place-items-center grid grid-rows-7 col-span-3 bg-sky-100 optionsDiv">
                <div class="row-span-1 ml-2 mt-2">
                    Category:
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                    focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
                    dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
                    dark:focus:ring-blue-500 dark:focus:border-blue-500" style="text-align-last: center; height:45px; width:225px"
                    id="categories" name="categoriesSelect" autocomplete="off">
                        <option value="select" selected>Select a Category</option>
                        <option value="interaction">Interaction/Role-Play</option>
                        <option value="adventure">Choose Your Own Adventure</option>
                        <option value="interest">Content of Personal Interest</option>
                        <option value="generation">Content Generation</option>
                        <option value="summarization">Article Summarization</option>
                    </select>
                </div>
                <div class="row-span-1 ml-2">
                    Language:
                    <select style="text-align-last: center; height:45px; width:225px" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                    focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
                    dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
                    dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    id="languages" name="languageSelect" autocomplete="off">
                        <option value="select">Select a Language</option>
                        <option value="Arabic">Arabic</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Korean">Korean</option>
                        <option value="Persian">Persian</option>
                        <option value="Portuguese">Portuguese</option>
                        <option value="Russian">Russian</option>
                    </select>
                </div>
                    <div id="interactionLocationDiv" class="hidden interaction row-span-1 ml-2">
                        Location:
                        <br>
                        <input style="width:225px" id="interactionLocation" type="text" class="py-2 pl-2 pr-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                    </div>
                    <div id="adventureActivityDiv" class="adventure hidden row-span-1 ml-2 -mt-2">
                        Activity:
                        <br>
                        <input style="width:225px" id="adventureActivity" type="text" class="py-2 pl-2 pr-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                    </div>
                    <div id="classTopicDiv" class="interest hidden row-span-1 ml-2 -mt-2">
                        Class topic:
                        <br>
                        <input style="width:225px" id="classTopic" type="text" class="py-2 pl-2 pr-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                    </div>
                    <div id="yourInterestDiv" class="hidden interest row-span-1 ml-2 mt-4">
                        Your interest:
                        <br>
                        <input style="width:225px" id="personalInterest" type="text" class="py-2 pl-2 pr-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                    </div>
                    <div id="adventureCityDiv" class="adventure hidden row-span-1 ml-2 -mt-2">
                        City:
                        <br>
                        <input style="width:225px" id="adventureCity" type="text" class="py-2 pl-2 pr-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                    </div>
                    <div id="interactionYourRoleDiv" class="hidden interaction row-span-1 ml-2 mt-4">
                        Your role:
                        <br>
                        <input style="width:225px" id="interactionYourRole" type="text" class="py-2 pl-2 pr-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                    </div>
                    <div id="interactionGPTRoleDiv" class="hidden interaction row-span-1 ml-2 mt-4">
                        ChatGPT role:
                        <br>
                        <input style="width:225px" id="interactionGPTRole" type="text" class="py-2 pl-2 pr-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                    </div>
                    <div id="interactionTurnDiv" class="hidden interaction row-span-1 ml-2 mt-4">
                        Turn order:
                        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                        focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
                        dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
                        dark:focus:ring-blue-500 dark:focus:border-blue-500" style="text-align-last: center; height:45px; width:225px"
                        id="interactionTurnDropdown" name="languageSelect">
                            <option value="select">Select who goes first</option>
                            <option value="you">I go first</option>
                            <option value="gpt">ChatGPT goes first</option>
                        </select>
                    </div>
                    <div id="textareaGeneration" class="hidden generation row-span-1 ml-2 mt-4">
                        <center>
                            <div class="mb-2">Enter your vocab words separated by commas:</div>
                        <textarea id="vocabWordsTextarea" style="height:200px; width:300px; padding:5px"></textarea>
                        </center>
                    </div>
                    <div id="articleTextDiv" class="hidden summarization ml-2 mt-4">
                        <center>
                            <div class="mb-2">Enter your article below:</div>
                        <textarea id="articleText" style="height:200px; width:300px; padding:5px"></textarea>
                        </center>
                    </div>
                    <div id="topicGenerationDiv" class="hidden generation row-span-1 ml-2 mt-4">
                        Topic:
                        <br>
                        <input style="width:225px" id="topicGeneration" type="text" class="py-2 pl-2 pr-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                    </div>
                    <div id="levelDiv" class="hidden generation interest adventure hidden row-span-1 ml-2 mt-2">
                        Level:
                        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                        focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
                        dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
                        dark:focus:ring-blue-500 dark:focus:border-blue-500" style="text-align-last: center; height: 45px; width:225px"
                        id="levelSelect" name="languageSelect" autocomplete="off">
                            <option value="select">Select a Level</option>
                            <option value="beginner">Beginner</option>
                            <option value="intermediate">Intermediate</option>
                            <option value="advanced">Advanced</option>
                        </select>
                    </div>
                    <center>
                        <button id="generateButton" class="hidden adventure summarization interaction interest generation mt-4 ml-2 row-span-1 px-6 py-3 
                    text-lg font-semibold bg-sky-500 text-white rounded-xl hover:bg-sky-600 generateButton">Generate!</button>
                    </center>
                
            </div>
            <div class="col-span-2 spaceDivider">
                
            </div>
        </div>
    </div>


{%endblock%}

{%block script %}
<script>
    $(document).ready(function() {
        $(window).on('load', function() {
            $('#categories').val('select');
            $('#languages').val('select');
        });
    });

    function generateLevelString(level) {
        if (level == 'beginner') {
            return "Beginner means that the language used has short sentences, simple grammar patterns, and uses vocabulary words of high frequency.";
        }
        else if (level == 'intermediate') {
            return "Intermediate means that the language used has somewhat complex grammar, more infrequent vocabulary, " + 
                    "and longer sentences, but does not contain extremely complex grammar, jargon, or complex sentences.";
        }
        else if (level == 'advanced') {
            return "Advanced means that the language used has complex grammar, contains infrequent vocabulary words and jargon, and has lengthy sentences.";
        }
    }

    function generateAdventurePrompt(language, activity, city, level) {
        levelString = generateLevelString(level);
        return "Create a \"choose your own adventure\" in " + 
                language + " about " + activity + " in " + city + ". Please clearly state the options " +
                "for the player to choose at the end of each page. Each option should correspond with another page, " +
                "and you should explicitly state the page that the option corresponds with so that the reader can choose their " +
                "next path. Use a \"pages\" format where the \"player\" can switch to a different \"page\" when they make a certain " + 
                "decision in the story. Do not create any duplicate pages in your story where things happen that are very similar " +
                "to another page. Create a new scenario for one of the pages if the same thing happens on two different pages. " +
                "Limit each \"page\" to be under 100 words each. Bold each page title for reading clarity, and also label the " +
                "page based on what happens on the page. Also, please use " + level + " level " + language + " when writing the adventure. " +
                levelString +
                ". Please also make sure the story abides by cultural principles pertaining to the location of the adventure, and that there " +
                "are no logical mistakes or paradoxes in the story. Do not use any English in your story.";
    }

    function generateInteractionPrompt(language, location, yourRole, gptRole, turnOrderString) {
        return "You are a robot that performs role-playing actions. " +
                "As a role-playing robot, you have the ability to take on any role and engage with a person " +
                "or user who is imitating another role. Your purpose is to pretend to mimic real conversation with " +
                "the user and take turns playing your role with the user. Your inputs include the role you will play, " +
                "the role the user will be playing, the language being spoken during the role-playing, and who will go " +
                "first in the role-play. Similar to a real conversation, you will limit your output to about 50 words when it " +
                "is your turn to speak. \n\nAs a role-playing robot, you also have the responsibility of keeping track of " +
                "everything that was said in the conversation. When the user says \"STOP CONVERSATION\", you will stop " +
                "role-playing and print out a record of exactly what was said during the role-play. When you generate the record, " +
                "make sure that the record is in the language I specify, not English." + 
                "\n\nI will now assign you a role. You are a " + gptRole + " in " + location + " and I am a " + yourRole + ". " +
                turnOrderString + ", and we will speak " + language + ".";
    }

    function generateInterestPrompt(language, classTopic, personalTopic, level) {
        levelString = generateLevelString(level);
        return "In " + language + " class we are learning about " + classTopic + 
                ", but my personal interest lies in " + personalTopic + ". Could you please write me an article about " + 
                personalTopic + " in " + language + ", but with an emphasis on how " + personalTopic + " relates to " + classTopic + 
                "? Please do so at an " + level + " level. " + levelString + ". Do not exceed 200 words in your response; it is very important that this response is under 200 words.";
    }

    function generateGenerationPrompt(language, vocabWords, level, topic) {
        levelString = generateLevelString(level);
        return "My " + language + " class is learning about " + topic + ". Our vocabulary words are as follows: " + vocabWords 
                + ". Please write me a short story using all of these vocabulary words at a " + level + " level in " + language + 
                ". Do not use any English in your story. " + levelString + ". Limit your response to 100 words. Do not create any inaccuracies in your story. " + 
                "Your sentences must have a logical flow to them and should not produce any contradictions or paradoxes. " + 
                "Please bold the vocabulary words in your story. Please be sure to use all the vocabulary words I gave you in the story." + 
                " Make sure you bold all the vocabulary words in your story."
    }

    function generateSummaryPrompt(language, articleText) {
        return "I am learning " + language + " and I would like to understand what the following text says " + 
                "in a shorter format. Please summarize the following text at a beginner level in " + language + " so that I can understand " +
                "the text and read it faster. A \"beginner level\" in " + language + " is defined as the language having short sentences, " + 
                "simple grammar patterns, and using vocabulary words of high frequency. It is beneficial if you omit some details of the " + 
                "text for the sake of reducing the complexity of the summary. Do not use any highly specific words; " + 
                "I want a beginner level paragraph in " + language +", therefore I need the paragraph to contain only simple words. " + 
                "Here is the text I would like you to summarize at a beginner level: \n\n" + articleText + "\n\nPlease limit your summary " + 
                "to 200 words or less. Do not exceed this word limit of 200 words. Remember, your summary should be simple enough " + 
                " for me to understand; I am requesting a beginner level summary, meaning it should contain short sentences, simple grammar," +
                " and words of high frequency.";
    }




    $(document).ready(function() {
        $('#copyButton').click(function () {
            var textarea = $('#prompt_textarea');
            textarea.select();
            textarea[0].setSelectionRange(0, 99999); //something for mobile devices 
            document.execCommand("copy");
            textarea.blur(); //this deselects the text 
            $('#copied').removeClass('hidden');
            setTimeout(function () {
                $('#copied').addClass('hidden');
            }, 1000);
        });
    });

    $(document).ready(function() {
        $('#categories').change(function() {
            console.log("change detected");
            var selectedCategory = $('#categories').val();
            console.log(selectedCategory);
            if (selectedCategory == 'select') {
                $('.adventure').addClass('hidden');
                $('.interaction').addClass('hidden');
                $('.interest').addClass('hidden');
                $('.summarization').addClass('hidden');
                $('.generation').addClass('hidden');
            }
            else if (selectedCategory == 'adventure') {
                $('.interaction').addClass('hidden');
                $('.interest').addClass('hidden');
                $('.generation').addClass('hidden');
                $('.summarization').addClass('hidden');
                $('.adventure').removeClass('hidden');
            }
            else if (selectedCategory == 'interaction') {
                $('.adventure').addClass('hidden');
                $('.interest').addClass('hidden');
                $('.generation').addClass('hidden');
                $('.summarization').addClass('hidden');
                $('.interaction').removeClass('hidden');
            }
            else if (selectedCategory == 'interest') {
                $('.adventure').addClass('hidden');
                $('.interaction').addClass('hidden');
                $('.generation').addClass('hidden');
                $('.summarization').addClass('hidden');
                $('.interest').removeClass('hidden');
            }
            else if (selectedCategory == 'generation') {
                $('.adventure').addClass('hidden');
                $('.interaction').addClass('hidden');
                $('.interest').addClass('hidden');
                $('.summarization').addClass('hidden');
                $('.generation').removeClass('hidden');
            } 
            else if (selectedCategory == 'summarization') {
                $('.adventure').addClass('hidden');
                $('.interaction').addClass('hidden');
                $('.interest').addClass('hidden');
                $('.generation').addClass('hidden');
                $('.summarization').removeClass('hidden');
            }
        });
    });

    $(document).ready(function() {
        $('#generateButton').click(function() {
            console.log("button clicked");
            var selectedCategory = $('#categories').val();
            var language = $('#languages').val();
            if (selectedCategory == 'interaction') {
                var location = $('#interactionLocation').val();
                var yourRole = $('#interactionYourRole').val();
                var gptRole = $('#interactionGPTRole').val();
                var turnOrder = $('#interactionTurnDropdown').val();
                var turnOrderString = '';
                if (turnOrder == 'gpt') {
                    turnOrderString = 'You will go first';
                } else {
                    turnOrderString = 'I will go first';
                }
                var promptString = generateInteractionPrompt(language, location, yourRole, gptRole, turnOrderString);
                var errorString = '';
                if (location == '') {
                    errorString = "ERROR: Please input a location.";
                }
                if (yourRole == '') {
                    errorString = "ERROR: Please input your role.";
                }
                if (gptRole == '') {
                    errorString = "ERROR: Please input a role for ChatGPT.";
                }
                if (turnOrder == 'select') {
                    errorString = "ERROR: Please determine the turn order.";
                }
                if (language == 'select') {
                    errorString = "ERROR: Please select a language.";
                }
                if (errorString != '') {
                    $('#prompt_textarea').val(errorString);
                } else {
                    $('#prompt_textarea').val(promptString);
                }
              
            } else if (selectedCategory == 'adventure') {
                var activity = $('#adventureActivity').val();
                var city = $('#adventureCity').val();
                var level = $('#levelSelect').val();
                var promptString = generateAdventurePrompt(language, activity, city, level);
                console.log(promptString);
                var errorString = '';
                if (city == '') {
                    errorString = "ERROR: Please input a city.";
                }
                if (activity == '') {
                    errorString = "ERROR: Please input an activity.";
                }
                if (language == 'select') {
                    errorString = 'ERROR: Please select a language.';
                }
                if (errorString != '') {
                    $('#prompt_textarea').val(errorString);
                } else {
                    $('#prompt_textarea').val(promptString);
                }
                
            } else if (selectedCategory == 'interest') {
                var classTopic = $('#classTopic').val();
                var personalTopic = $('#personalInterest').val();
                var level = $('#levelSelect').val();
                var levelString = '';
                var errorString = '';
                
                var promptString = generateInterestPrompt(language, classTopic, personalTopic, level);
                
                if (level == 'select') {
                    errorString = "ERROR: Please select a level.";
                }
                if (classTopic == '') {
                    errorString = "ERROR: Please input a class topic.";
                }
                if (personalTopic == '') {
                    errorString = "ERROR: Please input your interest.";
                }
                if (language == 'select') {
                    errorString = "ERROR: Please input a language.";
                }
                if (errorString != '') {
                    $('#prompt_textarea').val(errorString);
                } else {
                    $('#prompt_textarea').val(promptString);
                }

            } else if (selectedCategory == 'generation') {
                var vocabWordsWithLines = $('#vocabWordsTextarea').val();
                var vocabWords = vocabWordsWithLines.replace(/\r?\n|\r/g, "");
                var level = $('#levelSelect').val();
                var levelString = '';
                var topic = $('#topicGeneration').val();
                if (level == 'beginner') {
                    levelString = "means that the language used has short sentences, simple grammar patterns, and uses vocabulary words of high frequency.";
                } else if (level == 'intermediate') {
                    levelString = "means that the language used has somewhat complex grammar, more infrequent vocabulary, " + 
                    "and longer sentences, but does not contain extremely complex grammar, jargon, or complex sentences.";
                } else {
                    levelString = "means that the language used has complex grammar, contains infrequent vocabulary words and jargon, and has lengthy sentences.";
                }

                var promptString = generateGenerationPrompt(language, vocabWords, level, topic);
                var errorString = '';
                if (vocabWords == '') {
                    errorString = "ERROR: Please input at least one vocabulary word.";
                }
                if (language == 'select') {
                    errorString = "ERROR: Please select a language.";
                }
                if (level == 'select') {
                    errorString = "ERROR: Please select a level.";
                }
                if (topic == '') {
                    errorString = "ERROR: Please input a topic.";
                }
                if (errorString != '') {
                    $('#prompt_textarea').val(errorString);
                } else {
                    $('#prompt_textarea').val(promptString);
                }
                
            } else if (selectedCategory == 'summarization') {
                var articleText = $('#articleText').val();
                var promptString = generateSummaryPrompt(language, articleText);
                var errorString = '';
                if (language == 'select') {
                    errorString = "ERROR: Please select a language.";
                }
                if (articleText == '') {
                    errorString = "ERROR: Please input an article.";
                }
                if (errorString != '') {
                    $('#prompt_textarea').val(errorString);
                } else {
                    $('#prompt_textarea').val(promptString);
                }
                
            }
        });
    });


</script>


{%endblock%}