{% extends 'prompt/base.html' %}

{%block title%} Guidebook for Prompting {%endblock%}
{%block content%} Guidebook on Prompting for Language Learning {%endblock%}

<!-- <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200"> --> 

{%block sidebar%} 
    <div class="ml-3 mb-16 grid grid-cols-4 gap-4">
        <div class="pb-6">
            <div class="col-span-1">
                <ul>
                    {% for section in sections %}
                        <li class="py-2 px-2 rounded-xl">
                            <a href="{%url 'section:detail' section.id %}"">{{section.section_title}}</a>
                                <ul>
                                    {% for paragraph in section.paragraph_set.all %}
                                        <li class="ml-3"><a href="{%url 'section:detail' section.id %}">{{paragraph.paragraph_title}}</a></li>
                                    {%endfor%}
                                </ul>
                        </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
        
    </div>
{%endblock%}







