{% extends 'prompt/base.html' %}

{%block title%} Guidebook for Prompting {%endblock%}
{%block content%} Guidebook on Prompting for Language Learning {%endblock%}

<!-- <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200"> --> 

{%block sidebar%} 
    <div class="ml-3 mb-16 grid grid-cols-4 gap-4">
        <div class="pb-6">
            <div class="col-span-1">
                <ul>
                    {% for section in sections %}
                        <li class="py-2 px-2 rounded-xl">
                            <a href="#" class="section-link" data-paragraph-set = "{{section.paragraph_set.all}}"data-section-title="{{section.section_title}}">{{section.section_title}}</a>
                                <ul>
                                    {% for paragraph in section.paragraph_set.all %}
                                        <li class="ml-3"><a href="#">{{paragraph.paragraph_title}}</a></li>
                                    {%endfor%}
                                </ul>
                        </li>
                    {%endfor%}
                </ul>
            </div>
        </div>


        <div class="space-y-10 text-5xl col-span-3" id="section-text-container">
            Introduction to Prompting 
            <div class="mt-10 text-lg">
                Welcome to the Guidebook on Prompting for Language Learning. 
                This section will include a brief introduction of the guidebook and its purpose as well as 
                an introduction to prompting, LLMs, and ChatGPT. Enjoy!
            </div>
            <div class="mt-10 text-2xl">
                What is a Large Language Model (LLM)?
            </div>
            <div class="text-lg">
                A Large Language Model (LLM) is a trained artificial intelligence program that can mimic human conversation 
                and intelligence by using statistical models to analyze vast amounts of data and the connections between 
                each of the data points. A popular example of a Large Language Model is 
                ChatGPT, developed by the company OpenAI.
            </div>
            <div class="mt-10 text-2xl">
                What is ChatGPT?
            </div>
            <div class="text-lg">
                ChatGPT (GPT stands for Generative Pre-trained Transformer) is an artificial intelligence chatbot that, 
                when prompted, delivers extensive responses satisfying the conditions of the prompt.
            </div>
            <div class="mt-10 text-2xl">
                What is Prompting?
            </div>
            <div class="text-lg">
                Prompting is the act of cultivating, modifying, and then delivering a task or question to an LLM so that the 
                LLM can produce a more desirable response. The same question, when worded differently or 
                when supplemented with extra information, can produce a drastically different output. 
                The more details you supply to the chatbot, the better the response will be given your particular question.
            </div>
            
        </div>
    </div>
{%endblock%}







