{% extends 'prompt/base.html' %}

{%block title%} Guidebook for Prompting {%endblock%}
{%block content%} Guidebook on Prompting for Language Learning {%endblock%}

{%block sidebar%} 
<div class="hidden lg:block">
    <div class="ml-3 mb-16 grid grid-cols-4 gap-4">
        <div class="pb-6"> 
            <div class="col-span-1">
                <ul>
                    {% for section in sections %}
                        <li id="section{{section.id}}" class="py-2 px-2 rounded-xl">
                            <a href="{%url 'section:detail' section.id %}" class="section-link">{{section.section_title}}</a>
                                <ul>
                                    {% for paragraph in section.paragraph_set.all %}
                                    <!-- here is the section where the links are-->
                                        <li class="ml-3">
                                            <!-- this anchor tag -->
                                            <a class="paragraph-link" href="{%url 'section:detail' section.id %}#paragraph{{paragraph.id}}">{{paragraph.paragraph_title | safe}}</a>
                                        </li>
                                    {%endfor%}
                                </ul>
                        </li>
                    {%endfor%}  
                </ul>
            </div>
        </div>
 
        <div class="space-y-10 mr-24 text-5xl col-span-3" id="section-text-container">
            <b>{{section.section_title | safe}}</b>
            <div class="mt-10 text-lg">
                {{section.section_description | safe}}
            </div>
            {%for paragraph in section.paragraph_set.all%}
                <!-- jump here -->
                <div id="paragraph{{paragraph.id}}" class="mt-10 text-3xl"><b>{{paragraph.paragraph_title}}</b></div>
                <div class="text-lg">{{paragraph.paragraph_text | safe}}</div>
                {%for prompt in paragraph.prompts.all %}
                    <div class="grid grid-cols-10 space-x-2">
                        <div class="col-span-5 text-sm border border-gray-700 py-4 px-4">
                            <div class="flex justify-center items-center mt-2 py-4 px-8 bg-sky-500 text-lg rounded-xl text-white" style="margin: 0 auto; max-width: 25%;"> 
                                Prompt
                            </div>
                            <div class="mt-10 text-base">
                                {{prompt.prompt_text | safe}}
                            </div>
                            <!-- 
                            <a href="{%url 'prompt:detail' prompt.id %}" class="flex justify-center mt-2 py-4 px-8 bg-sky-500 text-lg rounded-xl text-white" style="margin: 0 auto; max-width: 40%;"> 
                                View in Prompt Browser 
                            </a>
                            -->
                        </div>
                        <div class="col-span-5 text-base border border-gray-700 py-4 px-4">
                            <div class="flex justify-center items-center mt-2 py-4 px-8 bg-sky-500 text-lg rounded-xl text-white" style="margin: 0 auto; max-width: 45%;"> 
                                <center>ChatGPT Example Output</center>
                            </div>
                            <div class="mt-10">
                                {{prompt.prompt_output | safe}}
                            </div>
                            
                        </div>
                    </div>
                {%endfor%}
                <div class="text-2xl mt-10">
                    {%for subparagraph in paragraph.subparagraph_set.all %}
                        <div class="mt-10">
                            <b>{{subparagraph.subparagraph_title | safe}}</b>
                        </div>
                        <div class="text-lg mt-10">
                            {{subparagraph.subparagraph_text | safe}}
                            {%for prompt in subparagraph.prompts.all %}
                                <div class="mt-10 grid grid-cols-10 space-x-2">
                                    <div class="col-span-5 text-sm border border-gray-700 py-4 px-4">
                                        <div class="flex justify-center items-center mt-2 py-4 px-8 bg-sky-500 text-lg rounded-xl text-white" style="margin: 0 auto; max-width: 25%;"> 
                                            Prompt
                                        </div>
                                        <div class="mt-10 text-base">
                                            {{prompt.prompt_text | safe}}
                                        </div>
                                    </div>
                                    <div class="col-span-5 text-base border border-gray-700 py-4 px-4">
                                        <div class="flex justify-center items-center mt-2 py-4 px-8 bg-sky-500 text-lg rounded-xl text-white" style="margin: 0 auto; max-width: 45%;"> 
                                            <center>ChatGPT Example Output</center>
                                        </div>
                                        <div class="mt-10">
                                            {{prompt.prompt_output | safe}}
                                        </div>
                                        
                                    </div>
                                </div>
                            {%endfor%}
                        </div>
                    {%endfor%}
                </div>
            {%endfor%}
        </div>
    </div>
</div>
{%endblock%}



<!-- ================================MOBILE CONTENT===================================-->
{%block smallSidebar%}
    <ul>
        {% for section in sections %}
            <li id="section{{section.id}}" class="py-2 px-2 rounded-xl">
                <a class="section-link text-lg font-semibold pr-20" href="{%url 'section:detail' section.id %}">{{section.section_title}}</a>
                    <!-- 
                    <ul>
                        {% for paragraph in section.paragraph_set.all %}
                        
                            <li class="ml-3 mt-4">
                                
                                <a class="paragraph-link text-lg pr-20" href="{%url 'section:detail' section.id %}#paragraph{{paragraph.id}}">{{paragraph.paragraph_title}}</a>
                            </li>
                        {%endfor%}
                    </ul>
                    -->
            </li>
        {%endfor%}  
    </ul>

{%endblock%}

{%block smallContent%}
<div class="block lg:hidden">
    <div class="ml-4 space-y-10 mr-4 text-5xl col-span-3" id="section-text-container">
        <b>{{section.section_title | safe}}</b>
        <div class="mt-10 text-lg">
            {{section.section_description | safe}}
        </div>
        {%for paragraph in section.paragraph_set.all%}
            <!-- jump here -->
            <div id="paragraph{{paragraph.id}}" class="mt-10 text-3xl"><b>{{paragraph.paragraph_title}}</b></div>
            <div class="text-lg">{{paragraph.paragraph_text | safe}}</div>
            {%for prompt in paragraph.prompts.all %}
                <div class="grid grid-rows-10 space-x-2">
                    <div class="border border-gray-700 px-2 py-2">
                        <div class="px-2 py-2 row-span-5 text-sm">
                            <div class="flex justify-center items-center mt-2 py-4 px-8 bg-sky-500 text-lg rounded-xl text-white" style="margin: 0 auto; max-width: 25%;"> 
                                Prompt
                            </div>
                            <div class="mt-4 text-base">
                                {{prompt.prompt_text | safe}}
                            </div>
                            <!-- 
                            <a href="{%url 'prompt:detail' prompt.id %}" class="flex justify-center mt-2 py-4 px-8 bg-sky-500 text-lg rounded-xl text-white" style="margin: 0 auto; max-width: 40%;"> 
                                View in Prompt Browser 
                            </a>
                            -->
                        </div>
                        <div class="mt-4 row-span-5 text-base">
                            <div class="flex justify-center items-center mt-2 py-4 px-8 bg-sky-500 text-lg rounded-xl text-white" style="margin: 0 auto; max-width: 60%;"> 
                                <center>ChatGPT Example Output</center>
                            </div>
                            <div class="mt-4">
                                {{prompt.prompt_output | safe}}
                            </div>
                            
                        </div>
                    </div>
                </div>
            {%endfor%}
            <div class="text-2xl mt-10">
                {%for subparagraph in paragraph.subparagraph_set.all %}
                    <div class="mt-10">
                        <b>{{subparagraph.subparagraph_title | safe}}</b>
                    </div>

                    <div class="text-lg mt-10">
                        {{subparagraph.subparagraph_text | safe}}
                        {%for prompt in subparagraph.prompts.all %}
                            <div class="mt-4 border border-gray-700 px-2 py-2">
                                <div class="grid grid-rows-10 space-x-2">
                                    <div class="row-span-5 text-sm">
                                        <div class="flex justify-center items-center mt-4 py-4 px-8 bg-sky-500 text-lg rounded-xl text-white" style="margin: 0 auto; max-width: 25%;"> 
                                            Prompt
                                        </div>
                                        <div class="mt-4 text-base">
                                            {{prompt.prompt_text | safe}}
                                        </div>
                                    </div>
                                    <div class="mt-4 row-span-5 text-base">
                                        <div class="flex justify-center items-center mt-2 py-4 px-8 bg-sky-500 text-lg rounded-xl text-white" style="margin: 0 auto; max-width: 60%;"> 
                                            <center>ChatGPT Example Output</center>
                                        </div>
                                        <div class="mt-4">
                                            {{prompt.prompt_output | safe}}
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        {%endfor%}
                    </div>
                {%endfor%}
            </div>
        {%endfor%}
    </div>
</div>


{%endblock%}

{%block footer%}
    <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
      <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 Footer. All Rights Reserved.
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
          <li>
              <a href="{%url 'prompt:about'%}" class="mr-4 hover:underline md:mr-6 ">About</a>
          </li>
      </ul>
      </div>
    </footer>
{%endblock%}





