{% extends 'prompt/base.html' %}

{%block title%} Guidebook for Prompting {%endblock%}
{%block content%} Guidebook on Prompting for Language Learning {%endblock%}

<!-- <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200"> --> 

{%block sidebar%} 
    <div class="ml-3 mb-16 grid grid-cols-4 gap-4">
        <div class="pb-6"> 
            <div class="col-span-1">
                <ul>
                    {% for section in sections %}
                        <li class="py-2 px-2 rounded-xl {%if section.id == section_id %} bg-gray-200 {%endif%}">
                            <a href="{%url 'section:detail' section.id %}" class="section-link">{{section.section_title}}</a>
                                <ul>
                                    {% for paragraph in section.paragraph_set.all %}
                                        <li class="ml-3"><a href="{%url 'section:detail' section.id %}#paragraph{{forloop.counter}}">{{paragraph.paragraph_title}}</a></li>
                                    {%endfor%}
                                </ul>
                        </li>
                    {%endfor%} 
                    <!-- 
                    {% for section in sections %}
                        <li class="py-2 px-2 rounded-xl {%if section.id == section_id %} bg-gray-200 {%endif%}">
                            <a href="{%url 'section:detail' section.id %}" class="section-link">{{section.section_title}}</a>
                                <ul>
                                    {% for paragraph in section.paragraph_set.all %}
                                        <li class="ml-3"><a href="#{{section.section_title}}-paragraph{{forloop.counter}}">{{paragraph.paragraph_title}}</a></li>
                                    {%endfor%}
                                </ul>
                        </li>
                    {%endfor%}
                    -->
                </ul>
            </div>
        </div>

        <div class="space-y-10 mr-24 text-5xl col-span-3" id="section-text-container">
            {{section.section_title}}
            <div class="mt-10 text-lg">
                {{section.section_description}}
            </div>
            {%for paragraph in section.paragraph_set.all%}
                <div id="paragraph{{forloop.counter}}" class="mt-10 text-2xl">{{paragraph.paragraph_title}}</div>
                <div class="text-lg">{{paragraph.paragraph_text}}</div>
                
            {%endfor%}
        </div>
    </div>
{%endblock%}







