{% extends 'prompt/base.html' %}

{%block title%} Guidebook for Prompting {%endblock%}
{%block content%} Guidebook on Prompting for Language Learning {%endblock%}

<!-- <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200"> --> 

{%block sidebar%} 
    <div class="ml-3 mb-16 grid grid-cols-4 gap-4">
        <div class="pb-6"> 
            <div class="col-span-1">
                <ul>
                    {% for section in sections %}
                        <li id="section{{section.id}}" class="py-2 px-2 rounded-xl">
                            <a href="{%url 'section:detail' section.id %}" class="section-link">{{section.section_title}}</a>
                                <ul>
                                    {% for paragraph in section.paragraph_set.all %}
                                        <li id="paragraph{{paragraph.id}}" class="ml-3"><a href="{%url 'section:detail' section.id %}#paragraph{{forloop.counter}}">{{paragraph.paragraph_title}}</a></li>
                                    {%endfor%}
                                </ul>
                        </li>
                    {%endfor%} 
                </ul>
            </div>
        </div>

        <div class="space-y-10 mr-24 text-5xl col-span-3" id="section-text-container">
            {{section.section_title}}
            <div class="mt-10 text-lg">
                {{section.section_description}}
            </div>
            {%for paragraph in section.paragraph_set.all%}
                <div id="paragraph{{forloop.counter}}" class="mt-10 text-3xl">{{paragraph.paragraph_title}}</div>
                <div class="text-lg">{{paragraph.paragraph_text | safe}}</div>
                {%for prompt in paragraph.prompts.all %}
                    <div class="grid grid-cols-10 space-x-2">
                        <div class="col-span-5 text-sm border border-gray-700 py-4 px-4">
                            <div class="flex justify-center items-center mt-2 py-4 px-8 bg-sky-500 text-lg rounded-xl text-white" style="margin: 0 auto; max-width: 25%;"> 
                                Prompt
                            </div>
                            <div class="mt-10 text-base">
                                {{prompt.prompt_text | safe}}
                            </div>
                        </div>
                        <div class="col-span-5 text-base border border-gray-700 py-4 px-4">
                            <div class="flex justify-center items-center mt-2 py-4 px-8 bg-sky-500 text-lg rounded-xl text-white" style="margin: 0 auto; max-width: 45%;"> 
                                ChatGPT Output
                            </div>
                            <div class="mt-10">
                                {{prompt.prompt_output | safe}}
                            </div>
                            
                        </div>
                    </div>
                {%endfor%}
                <div class="text-2xl">
                    {%for subparagraph in paragraph.subparagraph_set.all %}
                        {{subparagraph.subparagraph_title}}
                        <div class="text-lg mt-10">
                            {{subparagraph.subparagraph_text}}
                            {%for prompt in subparagraph.prompts.all %}
                                <div class="mt-10 grid grid-cols-10 space-x-2">
                                    <div class="col-span-5 text-sm border border-gray-700 py-4 px-4">
                                        <div class="flex justify-center items-center mt-2 py-4 px-8 bg-sky-500 text-lg rounded-xl text-white" style="margin: 0 auto; max-width: 25%;"> 
                                            Prompt
                                        </div>
                                        <div class="mt-10 text-base">
                                            {{prompt.prompt_text | safe}}
                                        </div>
                                    </div>
                                    <div class="col-span-5 text-base border border-gray-700 py-4 px-4">
                                        <div class="flex justify-center items-center mt-2 py-4 px-8 bg-sky-500 text-lg rounded-xl text-white" style="margin: 0 auto; max-width: 45%;"> 
                                            ChatGPT Output
                                        </div>
                                        <div class="mt-10">
                                            {{prompt.prompt_output | safe}}
                                        </div>
                                        
                                    </div>
                                </div>
                            {%endfor%}
                        </div>
                    {%endfor%}
                </div>
            {%endfor%}
        </div>
    </div>
{%endblock%}

{%block script%}
<!-- 
<script>
    var selectedSectionId = "{{ section_id }}";
    var selectedSection = document.getElementById("section" + selectedSectionId);
    if (selectedSection) {
        selectedSection.classList.add("bg-gray-200");
    }
    console.log("selectedSectionID: " + selectedSectionId);
</script>
-->

{%endblock%}





